<div id="{{layout.qInfo.qId}}" class="flex flex-column">
	<table id="{{layout.qInfo.qId+'title'}}">
		<tr>
			<td colspan="5" ng-style="titleStyle">{{title}}</td>
		</tr>
	</table>
	<table id="{{layout.qInfo.qId+'selector'}}" style="width: 20%">
		<tr ng-repeat="item in selectorData">
			<td ng-style="selectorKeyStyle">{{item.key}}</td>
			<td ng-style="selectorValueStyle" colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;{{item.value}}</td>
		</tr>
		<tr>
			<td colspan="5"></td>
		</tr>
	</table>
	<div id="{{layout.qInfo.qId+'content'}}">
		<table id="{{layout.qInfo.qId+'table'}}">
			<tr ng-repeat="item in data">
				<td style="border: 0.5px solid #333333" ng-repeat="val in item">{{val.qText}}</td>
			</tr>
		</table>
	</div>
	<input type="button" ng-click="exportExcel()" value="导出报表"></input>
</div>